<% title "Konteksty" %>
<table>
	<tr>
		<th>ID</th>
    	<th>Klasy</th>
		<th>Krawędzie</th>
		<th>Opcje</th>
	</tr>
	<%= render :partial => 'context', :collection => @contexts, :as => :context %>
</table>

<%= render :partial => 'new', :locals => {:new_context => Context.new } %>

<br/><br/>
<%= link_to "Importuj z csv", "#", :id => "toggle_csv" %>
<div id="csv">
<%= render :partial => 'context_from_file' %>
</div>

<%= javascript_tag("
     $j(document).ready(function() {
        $j('#csv').hide();
        $j('a#toggle_csv').click(function() {
		$j('#csv').slideToggle(400);
		  return false;
        });
      });
") %>

